<!DOCTYPE html>
<html
	xmlns = "http://www.w3.org/1999/xhtml"
	xmlns:th = "http://www.thymeleaf.org"
	xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
>

<head>
	<link href="/webjars/materializecss/0.97.7/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<title>TrixLog</title>
</head>

<body>
	<h1 class="header center blue-text">TrixLog</h1> 
	<div class="row center">
		<div th:if="${papel == RH}">
			<a th:href="@{/usuario/cadastrarFuncionarioForm}"  class="btn-large waves-effect waves-light teal">Cadastrar Funcionário</a>
			<a th:href="@{/usuario/logout}" class="btn-large waves-effect waves-light teal">Logout</a>
		</div>
		<div th:if="${papel == LOGISTICA}">
			<a th:href="@{/rota/gerarRotaForm}" class="btn-large waves-effect waves-light teal">Gerar Rota</a>
			<a th:href="@{/rota/listarRota}" class="btn-large waves-effect waves-light teal">Visualizar Rota</a>
			<a th:href="@{/usuario/logout}" class="btn-large waves-effect waves-light teal">Logout</a>
		</div>
	</div>

<script src="/webjars/jquery/2.2.4/jquery.js"></script>
<script src="/webjars/materializecss/0.97.7/js/materialize.js"></script>
</body>
</html>